{% extends 'base.html.twig' %}

{% block title %}Hello NewController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if titre is not empty %}
        <h1>{{ titre }}</h1>
    {% else %}
        <h1>Ma variable est vide !</h1>
    {% endif %}

    <h2>Test de boucle FOR</h2>
    <span>J'affiche la liste des users grâce à un FOR.</span>
    <ul>
    {%  for user in users %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Utilisateur/PhpstormProjects/SymfonyTest/src/Controller/NewController.php'|file_link(0) }}">src/Controller/NewController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Utilisateur/PhpstormProjects/SymfonyTest/templates/new/index.html.twig'|file_link(0) }}">templates/new/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
